.section-gallery{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/gallery-bg.jpg");
}

.section-gallery__container {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 64px;
}

.section-gallery__left {
  display: flex;
  flex-direction: column;
  margin-right: 45px;
  max-width: 400px;
}

.section-gallery__heading {
  margin-bottom: 19px;
}

.section-gallery__desc {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
  transform: translateY(-5px);
}

.section-gallery__desc-filter {
  margin-bottom: 6px;
}

.choices {
  margin-bottom: auto;
  border-radius: 6px;
  min-height: 30px;
  color: #fff;
  background-color: transparent;
}

.choices[data-type*="select-one"]:after {
  content: "";
  position: absolute;
  display: block;
  top: 16px;
  right: 14px;
  height: 10px;
  width: 12px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform .3s;
}
.choices[data-type*="select-one"].is-open:after {
  transform: rotate(-180deg);
}

.choices__inner {
  position: relative;
  padding: 0 !important;
  border: 1px solid #fff;
  border-radius: 6px;
  min-height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  background-color: transparent;
  transition: background-color .3s;
  z-index: 2;
}

.choices__list--single {
  padding: 0;
}

.is-open .choices__inner {
  position: relative;
  border: 1px solid #fff;
  border-radius: 6px;
  z-index: 2;
}

.choices__inner:hover,
.is-focused .choices__inner {
  background-color: rgb(255, 255, 255, .2);
}

.choices__list.is-active {
  padding: 0;
  border: 1px solid #999;
  border-radius: 6px;
  background-color: transparent;
}

.choices__list--dropdown {
  transform: translateY(1px);
}

.choices__list--dropdown .choices__item--selectable {
  padding: 2px 15px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices__item {
  padding: 2px 15px !important;
}

.choices__item.is-selected {
  display: none;
}

.choices__list--dropdown .choices__item {
  min-height: 38px;
  font-size: 16px;
  line-height: 32px;
  color: #999;
  transition-property: background-color, color;
  transition-duration: .3s;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices__list--dropdown .choices__item:hover,
.choices__list--dropdown .choices__item:focus {
  color: #fff;
  background-color: rgb(255, 255, 255, .3);
}

.section-gallery__right {
  max-width: 1156px;
  max-height: 850px;
  transform: translateX(3px);
}

.section-gallery__swiper-container {
  padding-top: 24px;
  max-width: 1156px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section-gallery__swiper-slide {
  padding: 0;
  border: 3px solid transparent;
  max-width: 350px;
  max-height: 350px;
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  transition: border .3s;
}

.section-gallery__magnifier-container {
  position: absolute;
  display: block;
  right: 25px;
  top: 25px;
  width: 300px;
  height: 300px;
  background-color: rgb(0, 0, 0, .5);
  opacity: 0;
  transition: opacity .3s;
}

.section-gallery__magnifier {
  position: absolute;
  left: 110px;
  top: 102px;
  z-index: 5;
}

.section-gallery__swiper-slide:focus {
  border: 3px solid #7943A4;
}

.section-gallery__swiper-slide:hover .section-gallery__magnifier-container,
.section-gallery__swiper-slide:active .section-gallery__magnifier-container {
  opacity: 1;
}

.section-gallery__magnifier-container::before {
  position: absolute;
  content: "";
  top: -25px;
  right: -25px;
  width: 350px;
  height: 350px;
  background-color: #C283F366;
  z-index: 5;
  opacity: 0;
  transition: opacity .3s;
}

.section-gallery__swiper-slide:active .section-gallery__magnifier-container::before {
  opacity: 1;
}

.section-gallery__swiper-slide:active {
  border: 3px solid #D1A9F0;
}

.section-gallery__swiper-nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-bottom: 28px;
  transform: translateX(6px);
}

.section-gallery__swiper-nav-item:not(:last-child) {
  margin-right: 19px;
}

.section-gallery__swiper-button-next,
.section-gallery__swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #666;
  cursor: pointer;
  transition-property: opacity, background-color;
  transition-duration: .3s;
}

.section-gallery__swiper-button-prev.swiper-button-disabled,
.section-gallery__swiper-button-next.swiper-button-disabled {
  opacity: .5;
}

.section-gallery__swiper-button-prev.swiper-button-disabled:focus,
.section-gallery__swiper-button-next.swiper-button-disabled:focus,
.section-gallery__swiper-button-prev.swiper-button-disabled:hover,
.section-gallery__swiper-button-next.swiper-button-disabled:hover {
  background-color: #666;
  cursor: default;
}

.section-gallery__swiper-button-next:hover,
.section-gallery__swiper-button-prev:hover {
  background-color: #9D5CD0;
}

.section-gallery__swiper-button-next:focus,
.section-gallery__swiper-button-prev:focus,
.section-gallery__swiper-button-next:active,
.section-gallery__swiper-button-prev:active {
  background-color: var(--violet-active);
}

.section-gallery__swiper-pagination.swiper-pagination-fraction {
  width: auto;
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #fff;
  text-align: start;
}
