.section-hero {
  position: relative;
  margin-top: -70px;
  margin-bottom: 80px;
  min-height: 700px;
  background-color: #333;
  background-size: cover;
}

.section-hero__swiper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.section-hero__swiper-bg {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  animation: hero-background 5.5s linear infinite alternate;
  -webkit-animation: hero-background 5.5s linear infinite alternate;
}

@keyframes hero-background  {
  from { background-size: 100%;}
  to { background-size: 105%; }
 }
 @-webkit-keyframes hero-background  {
  from { background-size: 100%;}
  to { background-size: 105%; }
 }

.section-hero__swiper-bg-1 {
  background-image: url("../img/hero-bg-1.png");
}

.section-hero__swiper-bg-2 {
  background-image: url("../img/hero-bg-2.png");
}

.section-hero__swiper-bg-3 {
  background-image: url("../img/hero-bg-3.png");
}

.section-hero__info {
  padding-top: 140px;
  padding-bottom: 30px;
  z-index: 2;
}

.section-hero__title {
  margin-bottom: 20px;
  width: 595px;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  color: var(--white-color);
}

.section-hero__text {
  margin-bottom: 91px;
  width: 580px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-color);
}

.section-hero__btn {
  max-width: 450px;
}


