@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Open-Sans-400.woff2') format('woff2'),
    url('../fonts/Open-Sans-400.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Open-Sans-600.woff2') format('woff2'),
    url('../fonts/Open-Sans-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Open-Sans-700.woff2') format('woff2'),
    url('../fonts/Open-Sans-700.woff') format('woff');
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

:root {
  --violet-hover: #C283F3;
  --violet-active: #7943A4;
  --white-color: #fff;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--white-color);
  font-size: 16px;
  color: #333;
  line-height: 1;
  overflow-x: hidden;
}

button, input {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1650px;
  padding-right: 25px;
  padding-left: 25px;
}

.section-mb {
  margin-bottom: 80px;
}

.visually-hidden {
  position: absolute !important;
  clip-path: rect(1px 1px 1px 1px);
  clip-path: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.violet-btn {
  position: relative;
  display: inline-block;
  padding: 22px 35px;
  border: 3px solid #9D5CD0;
  border-radius: 100px;
  min-width: 130px;
  min-height: 70px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--white-color);
  background-color: #9D5CD0;
  transition-property: background-color, border;
  transition-duration: .3s;
}

.violet-btn:hover {
  border: 3px solid #D1A9F0;
}

.violet-btn:active {
  border: 3px solid #D1A9F0;
  background-color: #7943A4;
}

.violet-btn:before {
  content: '';
  position: absolute;
  border: 2px solid #C283F3;
  border-radius: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left, opacity;
  transition-property: top, right, bottom, left, opacity;
}
.violet-btn:focus:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}
.violet-btn:active:before {
  opacity: 0;
}

.section__heading {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.section__dark-heading {
  color: #333;
}

.section__white-heading {
  color: #fff;
}

.section__description {
  max-width: 1080px;
  line-height: 32px;
  color: #333;
}
